// ===Color
$theme: #0c243b;

.about {
  .title {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: -6px;
      left: -16px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $theme;
    }
  }

  .highlight {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 12px;
      width: 100%;
      bottom: 10px;
      background-color: $theme;
      opacity: 0.15;
      left: 0;
    }
  }
  h1, .no-border {
    border-bottom: transparent!important;
    margin-top: 2.4em;
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.9em;

    border-bottom: 0;
  }

  h3 {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.7em;

    border-bottom: 0;
  }

  h4 {
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    font-size: 1.4em;

    padding-bottom: calc(0.4rem - 1px);
    border-bottom: 1px solid hsla(0,0%,0%,0.07);
  }

  thead tr th{
    padding-top: 0;
    word-break: keep-all;
  }

  div.final {
    margin-top: 5em !important;
  }
}
