@import url(https://fonts.googleapis.com/css?family=Lato:400);

// ===Color
$c-base: #333;
$c-base-dark: #111;
$c-primary: #6fd1bd;
$c-secondary: salmon;

.about {
  h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.4375rem;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.21875rem;
    color: inherit;
    font-family: Catamaran;
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    line-height: 1.2;
    border-bottom: 1px solid hsla(0,0%,0%,0.07);
    text-shadow: 2px 2px 0 #6fd1bd;
    -webkit-transition: text-shadow .2s ease-in-out;
    transition: text-shadow .2s ease-in-out;
  }

  h2 {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 10px;
    position: relative;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#96ddcf),to(#96ddcf));
    background-image: linear-gradient(180deg,#96ddcf 0,#96ddcf);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    border-bottom: 0;
    text-decoration: none;
  }
}
