.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  position: relative;
  box-shadow: none;
  text-decoration: none;
  color: inherit;

  &:after {
    position: absolute;
    right: -65px;
    top: 7px;
    display: inline-block;
    // background: url('../../../content/assets/flamingo.png') no-repeat;
    background-size: contain;
    width: 55px;
    height: 49px;
    content: "";
  }
}