.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;

  &::after {
    background: url('../../../content/assets/christmas-wreath.png');
    display: inline-block;
    width: 39px;
    background-size: contain;
    height: 39px;
    content: "";
    margin-left: 6px;
  }
}