.sponsor-button {
  text-align: right;
  margin: 4px;

  .btn {
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgba(27,31,35,.15);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    position: relative;
    padding: 5px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgba(27,31,36,0.15);
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      background-color: #f3f4f6;
      transition-duration: .1s;
      text-decoration: none;

      .icon-sponsor {
        transform: scale(1.1);
      }
    }

    .octicon {
      color: #bf3989;
      display: inline-block;
      overflow: visible !important;
      fill: currentColor;
      color: #6a737d;
      vertical-align: text-bottom;
    }
  }

  .mr-2 {
    margin-right: 8px !important;
  }

  .icon-sponsor {
    transition: transform .15s cubic-bezier(0.2, 0, 0.13, 2);
    transform: scale(1);
  }
}
