@import '../../styles/variables.scss';

.top {
  position: relative;
  width: 100%;
  height: 60px;
  // background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // summer background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #BB2528, #EA4630, #F8B229, #146B3A, #165B33);
  // spring background: linear-gradient(-45deg, #1fab89, #62d2a2, #ffc8c8, #ff9999);
  background-size: 182% 200%;
  -webkit-animation: Gradient 7s ease infinite;
  -moz-animation: Gradient 7s ease infinite;
  animation: Gradient 7s ease infinite;

  .link {
    display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: $top-header-text-color;
    opacity: 0.7;
    margin-left: 20px;
    font-family: 'Catamaran';
    font-weight: 800;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}